<mat-progress-bar *ngIf="loading" class="alternate-theme" mode="indeterminate"></mat-progress-bar>
<div class="wrapper animated fadeIn space-top alternate-theme">
    <div style="position:fixed; top:100px; right:0px; background:#2fa1e0; color:#fff; padding:10px 20px;">
        {{ total | currency }}</div>
    <div class="section" class="bg-white">
        <div class="container">
            <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper
                (selectionChange)="stepChanged($event)">
                <mat-step>
                    <ng-template matStepLabel>REFERIDO</ng-template>
                    <app-referido [indexSelected]="selectedIndex" (loadClient)="setClient($event)"
                        (isLoading)="onLoading($event)" [stepper]="stepper">
                    </app-referido>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>MATERIAL</ng-template>
                    <app-material (materialData)="setMaterialData($event)" (isLoading)="onLoading($event)"
                        [client]="client" [stepper]="stepper"></app-material>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>DATOS PERSONALES</ng-template>
                    <app-personal-data (personalData)="setPersonalData($event)" [stepper]="stepper"></app-personal-data>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>DATOS PAGO</ng-template>
                    <app-payment-detail (feesData)="setFees($event)" (paymentData)="setPaymentData($event)"
                        [stepper]="stepper"></app-payment-detail>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>CONTRATO</ng-template>
                    <app-contract [stepper]="stepper" (sumaTotal)="setSumaTotal($event)" [fees]="fees"
                        [paymentData]="paymentData" [materialData]="materialData" [personalData]="personalData"
                        [client]="client"></app-contract>
                </mat-step>
            </mat-horizontal-stepper>

            <!--<div id="stepper1" class="bs-stepper">
                <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                            <app-referido></app-referido>
                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" />
                            </div>
                            <button (click)="next()" class="btn btn-primary">Continuar</button>
                        </div>
                        <div id="test-l-3" class="content text-center">
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </div>
                        <div id="test-l-4" class="content text-center">
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </div>
                        <div id="test-l-5" class="content text-center">
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button class="step-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label">REFERIDO</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button class="step-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label">MATERIAL</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                        <button class="step-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label">DATOS PERSONALES</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-4">
                        <button class="step-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label">DATOS PAGO</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-5">
                        <button class="step-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label">CONTRATO</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button (click)="next()" class="btn btn-primary">Continuar</button>
                </div>
            </div>-->
        </div>
    </div>
</div>