<nav class="animated fadeIn wrapper navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="http://www.aguagente.com/wp-content/uploads/2015/11/imago-home2.png" height="30" alt="">
        </a>
        <span class="navbar-text text-white">
            <a class="nav-link" href="#">
                Inicio
            </a>
        </span>
    </div>
</nav>