/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

.navbar {
    background: #343434 !important;
}

.space-top {
    padding-top: 6rem;
}

.space-bottom {
    padding-bottom: 2rem;
}

.btn-primary {
    background-color: #2fa1e0;
    border-color: #2fa1e0;
}

.mat-horizontal-stepper-header-container {
    position: sticky;
    top: 50rem;
    background: white;
    clear: both;
    z-index: 0;
}

.mat-horizontal-content-container {
    bottom: 6rem;
    position: relative;
}

.mat-progress-bar {
    top: 59px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}