<div class="wrapper animated fadeIn">
    <div class="section" class="bg-white">
        <div class="container" style="padding-right:0;padding-left:0">
            <div class="row">
                <div class="col-sm">
                    <h2>Detalles de pago</h2>
                    <p>Ingrese toda la información necesaria de los datos de pago para poder realizar exitosamente el
                        cobro.</p>
                    <img *ngIf="imgBrand" src="assets/images/{{imgBrand}}.png" style="width:50px; margin-left:10px;" />
                    <app-field [fieldType]="'text'" [formName]="'card_number'" [parentForm]="form"
                        (keyup)="checkBrand()" [placeholder]="'Número de Tarjeta'" [label]="'Número de Tarjeta'"
                        [submitted]="submitted">
                    </app-field>
                    <app-field [fieldType]="'text'" [formName]="'cvc'" [parentForm]="form" [placeholder]="'CVC'"
                        [label]="'CVC'" [submitted]="submitted">
                    </app-field>
                    <app-field [fieldType]="'option'" [options]="monthExpirations" [formName]="'expiration_month'"
                        [parentForm]="form" [label]="'Mes de expiración'" [submitted]="submitted">
                    </app-field>
                    <app-field [fieldType]="'option'" [options]="years" [formName]="'expiration_year'"
                        [parentForm]="form" [label]="'Año Expira'" [submitted]="submitted">
                    </app-field>
                    <div *ngIf="monthlyInstallmentsOptions">
                        <h2>Pago meses sin intereses</h2>
                        <p>El pago del deposito y los extras pueden pagarse a meses sin intereses, seleccione la opción
                            que
                            el cliente requiera.</p>
                        <app-field [fieldType]="'option_meses'" [options]="monthlyInstallmentsOptions"
                            [formName]="'monthly_installments'" [parentForm]="form" [label]="'Forma de pago'"
                            [submitted]="submitted" (changePago)="changePago($event)">
                        </app-field>
                    </div>
                    <button class="btn btn-primary" style="margin-right:20px" (click)="previous()">Atrás</button>
                    <button class="btn btn-primary" (click)="submit()">Continuar / Omitir</button>
                </div>
            </div>
        </div>
    </div>
</div>