<div class="wrapper animated fadeIn">
    <div class="section" class="bg-white">
        <div class="container" style="padding-right:0;padding-left:0">
            <div class="row">
                <div class="col-sm">
                    <h2>Datos personales</h2>
                    <p>Ingrese toda la información necesaria para poder generar los contratos</p>
                    <app-field [fieldType]="'text'" [formName]="'name'" [parentForm]="form" [placeholder]="'Nombre'"
                        [label]="'Nombre Completo'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'email'" [formName]="'email'" [parentForm]="form"
                        [placeholder]="'Correo electrónico'" [label]="'Correo electrónico'" [submitted]="submitted">
                    </app-field>
                    <app-field [fieldType]="'text'" [formName]="'phone'" [parentForm]="form" [min]="8" [max]="20"
                        [placeholder]="'Teléfono o celular'" [label]="'Teléfono o celular'" [submitted]="submitted">
                    </app-field>
                    <app-field [fieldType]="'text'" [formName]="'address'" [parentForm]="form"
                        [placeholder]="'Calle y número'" [label]="'Calle y número'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'text'" [formName]="'between_streets'" [parentForm]="form"
                        [placeholder]="'Entre calles'" [label]="'Entre calles'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'text'" [formName]="'colony'" [parentForm]="form" [placeholder]="'Colonia'"
                        [label]="'Colonia'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'text'" [formName]="'county'" [parentForm]="form" [placeholder]="'Ciudad'"
                        [label]="'Ciudad'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'text'" [formName]="'state'" [parentForm]="form" [placeholder]="'Estado'"
                        [label]="'Estado'" [submitted]="submitted"></app-field>
                    <app-field [fieldType]="'number'" [formName]="'postal_code'" [parentForm]="form"
                        [placeholder]="'Código Postal'" [min]="5" [max]="5" [label]="'Código Postal'"
                        [submitted]="submitted"></app-field>
                    <p>Sube las imagenes correspondientes:</p>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <a href="javascript:void(0)">
                                <img (click)="file.click()" [src]="urlImage6 || 'assets/images/cfe.png'"
                                    class="img-fluid" width="276" height="auto" style="padding-bottom: 10px;">
                            </a>
                            <input #file style="display:none" type="file" placeholder="Imagen de perfil"
                                (change)="onFileChanged($event,0)" accept="image/*">
                            <a href="javascript:void(0)">
                                <img (click)="file2.click()" [src]="urlImage8 || 'assets/images/ife1.png'"
                                    class="img-fluid" width="276" height="auto">
                            </a>
                            <input #file2 style="display:none" type="file" placeholder="Imagen de perfil"
                                (change)="onFileChanged($event,2)" accept="image/*">
                        </div>
                        <div class="col-md-6 text-left">
                            <a href="javascript:void(0)">
                                <img (click)="file3.click()" [src]="urlImage7 || 'assets/images/profile.png'"
                                    class="img-fluid" width="276" height="auto" style="padding-bottom: 10px;">
                            </a>
                            <input #file3 style="display:none" type="file" placeholder="Imagen de perfil"
                                (change)="onFileChanged($event,1)" accept="image/*">
                            <a href="javascript:void(0)">
                                <img (click)="file4.click()" [src]="urlImage9 || 'assets/images/ife2.png'"
                                    class="img-fluid" width="276" height="auto">
                            </a>
                            <input #file4 style="display:none" type="file" placeholder="Imagen de perfil"
                                (change)="onFileChanged($event, 3)" accept="image/*">
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin-right:20px" (click)="previous()">Atrás</button>
                    <button class="btn btn-primary" (click)="submit()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>