<div class="wrapper animated fadeIn">
    <div class="section" class="bg-white">
        <div class="container" style="padding-right:0;padding-left:0">
            <div class="row">
                <div class="col-sm">
                    <h2>Costo de la instalación</h2>
                    <p>Seleccione la opción que le gustaria obtener para los materiales .</p>
                    <hr />
                    <h2 style="margin-bottom:0px;">Depósito <small style="float:right; margin-left:10px;"
                            *ngIf="(client?.group?.sign_into?.deposit/100) < 2000">${{ (client?.group?.sign_into?.deposit/100) | number : '1.2-2'}}</small><small
                            style="float:right;"
                            [ngClass]="{ 'rebaja' : (client?.group?.sign_into?.deposit/100) < 2000 }">${{ (client?.group?.sign_into?.deposit/100) > 2000 ? ( (client?.group?.sign_into?.deposit/100) | number : '1.2-2')  : '2,000.00'}}</small>
                    </h2>
                    <p>Se le regresará el deposito a la hora de la cancelación, siempre y cuando esté al corriente de
                        sus mensualidades.</p>
                    <div *ngIf="client?.group?.trial_days > 0">
                        <hr />
                        <h2>Promoción
                            <small style="float:right; text-decoration:none;" class="rebaja">
                                {{client?.group?.trial_days | meses}} meses
                                <span *ngIf="client?.group?.trial_days_price > 0">por
                                    ${{ (client?.group?.trial_days_price / 100) | number : '1.2-2'}} MXN</span>
                                <span *ngIf="client?.group?.trial_days_price <= 0">gratis</span>
                            </small>
                        </h2>
                    </div>
                    <hr />
                    <h2 style="margin-bottom:0px;">
                        Responsabilidad Social
                        <small style="float:right; margin-left:10px;"
                            *ngIf="f.mensual.value < 249">${{ f.mensual.value | number : '1.2-2' }}</small>
                        <small style="float:right;"
                            [ngClass]="{ 'rebaja' : f.mensual.value < 249 }">${{ f.mensual.value > 249 ? (f.mensual.value | number : '1.2-2' ): '249.00' }}</small>
                    </h2>

                    <p>
                        Aguagente usa 0.7% de todo lo que usted nos paga por nuestro servicio para
                        ayudar a los mas de 2,000,000 de Mexicanos viviendo en pobreza extrema.
                    </p>

                    <p>
                        Estamos ayudando a gente en pobreza extrema que viven a menos de 1 hora de su casa.
                        Le gustaría igualar la contribución que Aguagente hace al programa de Responsabilidad Social
                        para que podamos ayudar a mas gente más rápido?
                    </p>

                    <app-field [fieldType]="'checkbox'" [formName]="'responsabilidad'" [parentForm]="form"
                        [label]="'Responsabilidad Social + 0.7%'"></app-field>


                    <div *ngFor="let category of categories; let i = index">
                        <hr />
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.description }}</p>
                        <div *ngIf="category.name === 'Material'">
                            <div *ngFor="let element of category.elements">
                                <app-field [fieldType]="'radio'" [formName]="'material'" [parentForm]="form"
                                    [value]="element"
                                    [label]="element.name + ' <strong>$' + element.price + '</strong>'"> </app-field>
                            </div>
                        </div>
                        <div *ngIf="category.name !== 'Material'">
                            <div *ngFor="let element of category.elements">
                                <app-field (checkboxValue)="setExtras($event)" [value]="element"
                                    [fieldType]="'checkbox'"
                                    [label]="element.name + ' <strong>$' + element.price + '</strong>'"></app-field>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin-right:20px" (click)="previous()">Atrás</button>
                    <button class="btn btn-primary" (click)="submit()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>