<div class="animated fadeIn wrapper section">
    <div class="section-footer space-top space-bottom">
        <div class="container-fluid space-sides text-black text-center">
            <div class="row">
                <div class="col-md-12">
                    <span style="font-size:10pt">Aguagente S.A. de C.V. &#169; México {{date}}. Todos los
                        derechos reservados, prohibida su reproducción total o parcial sin la
                        previa autorización de su titular.
                        México</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-uppercase font-weight-bold" style="font-size:9pt"><a target="_blank"
                            href="http://www.aguagente.com/terminos-y-condiciones">Aviso de privacidad</a>
                        |
                        <a target="_blank" href="http://www.aguagente.com/aviso-de-privacidad/">Contrato de suministro de agua y
                            comodato de equipo</a></span>
                </div>
            </div>
        </div>
    </div>
</div>