<div class="form-group" [ngSwitch]="fieldType">
    <div *ngSwitchCase="'email'" [formGroup]="parentForm">
        <label *ngIf="label">{{ label }}</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" class="form-control"
            [placeholder]="placeholder" [formControlName]="formName" />
        <div *ngIf="submitted && f[formName].errors" class="invalid-feedback">
            <div *ngIf="f[formName].errors.email">Debe ser una dirección de email válida</div>
            <div *ngIf="f[formName].errors.required">El valor es requerido</div>
        </div>
    </div>

    <div *ngSwitchCase="'text'" [formGroup]="parentForm">
        <label *ngIf="label">{{ label }}</label>
        <input [ngClass]="{ 'is-invalid': submitted && f[formName].errors }" type="text" class="form-control"
            [placeholder]="placeholder" [formControlName]="formName" />
        <div *ngIf="submitted && f[formName].errors" class="invalid-feedback">
            <div *ngIf="f[formName].errors.required">El valor es requerido</div>
            <div *ngIf="f[formName].errors.minlength">Mínimo valor de {{ min }} caracteres</div>
            <div *ngIf="f[formName].errors.maxlength">Máximo valor de {{ max }} caracteres</div>
        </div>
    </div>

    <div *ngSwitchCase="'number'" [formGroup]="parentForm">
        <label *ngIf="label">{{ label }}</label>
        <input [ngClass]="{ 'is-invalid': submitted && f[formName].errors }" type="tel" class="form-control"
            [placeholder]="placeholder" [formControlName]="formName" />
        <div *ngIf="submitted && f[formName].errors" class="invalid-feedback">
            <div *ngIf="f[formName].errors.required">El valor es requerido</div>
            <div *ngIf="f[formName].errors.minlength">Mínimo valor de {{ min }} digitos</div>
            <div *ngIf="f[formName].errors.maxlength">Máximo valor de {{ max }} digitos</div>
        </div>
    </div>

    <div *ngSwitchCase="'checkbox'">
        <div *ngIf="parentForm && formName" class="form-check" [formGroup]="parentForm">
            <input class="form-check-input" type="checkbox" [formControlName]="formName">
            <label class="form-check-label">
                <div [innerHTML]="label"></div>
            </label>
        </div>
        <div *ngIf="!parentForm && !formName" class="form-check">
            <input class="form-check-input" type="checkbox" (change)="onCheckChange(value, $event)">
            <label class="form-check-label">
                <div [innerHTML]="label"></div>
            </label>
        </div>
    </div>


    <div *ngSwitchCase="'radio'" [formGroup]="parentForm" class="form-check">
        <input class="form-check-input" type="radio" [name]="formName" [value]="value" [formControlName]="formName">
        <label class="form-check-label">
            <div [innerHTML]="label"></div>
        </label>
    </div>

    <div *ngSwitchCase="'option'" [formGroup]="parentForm">
        <label class="form-check-label">
            <div [innerHTML]="label"></div>
        </label>
        <select class="form-control" [formControlName]="formName">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
        </select>
    </div>

    <div *ngSwitchCase="'option_meses'" [formGroup]="parentForm">
        <label class="form-check-label">
            <div [innerHTML]="label"></div>
        </label>
        <select (change)="optionChanged($event.target.value)" class="form-control" [formControlName]="formName"
            required>
            <option *ngFor="let item of options | keyvalue: keepOrder;" [value]="item.key">
                {{ item.key != 1 ? item.key + ' meses' : 'Pago único' }}
            </option>
        </select>
    </div>
</div>