<div class="wrapper animated fadeIn">
    <div class="section" class="bg-white">
        <div class="container" style="padding-right:0;padding-left:0">
            <div class="row">
                <div class="col-sm">
                    <h2 class="font-weight-bold">Referido</h2>
                    <p>Si te recomendo algun contacto que este registrado en nuestro servicio, por favor ingresa su
                        correo electrónico si no es así dale click en continuar
                    </p>
                    <app-field [fieldType]="'email'" [formName]="'email'" [parentForm]="form"
                        [placeholder]="'aguagratis@aguagente.com'" [submitted]="submitted"></app-field>
                    <button class="btn btn-primary" (click)="submit()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>